.content{
    margin:0 15.6% 0;
    padding:0 0 67px;  
  }
  
  @media (max-width: 409px){
      .content{
          margin:0 15.5% 0;
          padding:0 0 48px;
      } 
  
  }
  
  @media (max-width: 341px){
      .content{
          margin:0 8.6% 0;
      } 
  
  }
  
  @media (max-width: 320px){
      .content{
          margin:0 5.88% 0;
      } 
  
  }
  
  @media (max-width: 304px){
      .content{
          margin:0 auto 0;
      } 
  
  }