.element__button{
  align-self: center;
  justify-self: center;
  margin:0;
  padding: 0;
  width: 20.76px;
  height: 18.13px;
  background-color: #FFFFFF;
  background-image:url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  border: none;
  transition: opacity 1s ease;
}

.element__button:hover{
  cursor: pointer;
  opacity:0.6;
}
