.popup__close-button{
   position: absolute;
   top:-35px;
   right: -35px;
   padding: 0;
   width: 40px;
   height: 40px;
   background-image: url('../../../images/Close_icon.svg');
   background-color: rgb(0,0,0,0);
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
   border: red;
   transition: opacity 1s ease;
}
.popup__close-button:hover{
  cursor: pointer;
  opacity:0.6;
}

@media(max-width:440px){
  .popup__close-button{
     right: 0;
     width: 26px;
     height: 26px;
  }
}
