.popup__close-button{
   align-self: center;
   margin-top: 146.72px;
   margin-left: 450px;
   width: 40px;
   height: 40px;
   background-image: url('../../../images/Close_Icon.png');
   background-color: #000000;
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
   border: none;
   transition: opacity 1s ease;
}
.popup__close-button:hover{
  opacity:0.8;
}

@media(max-width:440px){
  .popup__close-button{
     margin-top: 76.62px;
     margin-left: 264.62px;
     width: 26px;
     height: 26px;
  }
}
